/* Allgemeine Stile */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #1c2b4a;
    color: #ffffff;
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

/* Kartenstil */
.card {
    padding: 30px;
    background-color: #2f3c64;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card2 {
  padding: 30px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #D2D2D2;
  height: 200px;
}
/* Formularstil */
.form-label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

/* Bildcontainer-Stil */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

/* Primärer Button-Stil */
.btn-primary {
    background-color: #5170b6;
    border-color: #5170b6;
    box-shadow: none;
}

.btn-primary:hover {
    background-color: #68a0d4;
    border-color: #68a0d4;
}

/* Shuffle-Button-Stil */
#shuffleButton {
    display: inline-block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #5170b6;
    background-color: #ffffff;
    border: 1px solid #5170b6;
    border-radius: 0.25rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-left: 10px;
}

#shuffleButton:hover {
    background-color: #5170b6;
    color: #ffffff;
}

/* Ergebnis-Container-Stil */
.alert {
    background-color: #4b618f;
    border: none;
    color: #ffffff;
    font-weight: 500;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Bootstrap-Icon-Stil */
.bi {
    display: inline-block;
    vertical-align: -.125em;
    font-size: 1.5em;
}

/* Eingabegruppen-Anhang-Stil */
.input-group-append {
    display: flex;
    align-items: center;
    padding-left: 10px;
    cursor: pointer;
}

/* Ergebniszeilen-Stil */
.result-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .text-label {
    font-weight: bold;
    margin-right: 10px;
    white-space: nowrap;
  }
  
  .progress {
    flex-grow: 1;
    height: 20px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: #3c4b7a;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  .progress-bar {
    background-color: #5170b6;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  
/* Ladebalken-Stil */
  @keyframes loading {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }
  
  .progress-bar-loading {
    animation: loading 2s linear infinite;
  }
  
  .result-container {
    min-height: 150px;
  }
  
  /* Instruction-Container */
  .instruction-container {
    background-color: #f8f9fa;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .instruction-container h2 {
    margin-bottom: 10px;
  }
  
  .instruction-container ol {
    list-style-type: decimal;
    margin-left: 20px;
  }
  
